<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %} - N&L</title>

  {% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" type = "text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-responsive.min.css" type = "text/css" />
<!--<link rel = "stylesheet" href = "{{ asset('bundles/blog/bootstrap/css/bootstrap.min.css') }}" type = "text/css" />
<link rel = "stylesheet" href = "{{ asset('bundles/blog/bootstrap/css/bootstrap-responsive.min.css') }}" type = "text/css" />-->
  {% endblock %}
</head>

<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
 
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="{{ path('news') }}">N&L</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('news') }}">Accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('news_new') }}">Ecrire un article</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('news_about')}}">A propos</a></li>
      </ul>
    </div>
  </div>
</nav> 



  {% block body %}
  {% endblock %}


  {% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% endblock %}

</body>

<hr>

<footer>
     <div class="container">
            <div class="row">
                  <div class="col-md-8">
                    <p>N&L blog &copy; 2015</p>
          </div>
      </div>
</footer>


</html>