{% extends '::base.html.twig' %}
{% block title %}{{ entity.title }}{% endblock %}
{% block body -%}
   <div class="container">
        <h1>Modification de l'article</h1>
   <hr>

            <div class="row">
            <div class="col-md-8">

        {{ form_start(edit_form) }}
        
        {{ form_label(edit_form.title,'Titre :') }}
        {{ form_errors(edit_form.title) }}
        {{ form_widget(edit_form.title) }}
            <br>
            </div>
            </div>
            <div class="row">
            <div class="col-md-8">
        {{ form_label(edit_form.content,'Texte :') }}
        {{ form_errors(edit_form.content) }}
        {{ form_widget(edit_form.content) }}
            <br>
            </div>
            </div>
            <div class="row">
            <div class="col-md-8">
        {{ form_label(edit_form.createdAt, 'Date de publication :') }}
        {{ form_errors(edit_form.createdAt) }}
        {{ form_widget(edit_form.createdAt) }}
            <br>
            </div>
            </div>

        {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
            {{ form_end(delete_form) }}

    <hr>

    	<li><a href="{{ path('news') }}"> Retourner à la liste des articles 
    	</a></li>

			</div>
			</div>

	</div>
{% endblock %}
